<!DOCTYPE html>
<html>
  <head>
    <title>Become a member!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <h1>Enter secret code now to become a member!</h1>
        <h3>Hint: The secret code is "password" no quotations</h3>
        <form method="POST" action=""  class="form">
            <div class="form-group">
                <label for="password">Secret Code:</label>
                <input type="password" id="password" name="password" autocomplete="new-password">
            </div>
            <div class="form-group">
                <label for="Cpassword">Confirm Code:&nbsp;</label>
                <input type="password" id="Cpassword" name="Cpassword" autocomplete="new-password">
            </div>
            <div class="form-group submit-group">
                <button type="submit">Become a member!</button>
            </div>
        </form>
    </div>
  </body>
</html>